*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:arial;
}

.headerSection{
    display: flex;
    justify-content:space-between;
    padding: 10px;
    background-color: rgba(113, 113, 170, 0.575);

}
.center ul li{
    list-style-type: style none;
    display:inline-flex;
    margin:0px 5px;
}
.title{
    font-size:4;
    
}
.left{
    flex:4;
    /* border:1px solid black; */
}
.center{
    flex:4;
    /* border:1px solid black; */
}
.right{
    flex:2;
    /* border:1px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;

}
.search{
    flex:2;
    /* border:1px solid black; */
    

}
.search input{
    padding:10px;
    width:20rem;
}
.bannerBox{
    margin:10px 0px;
}
.bannerBox img{
    width: 100%;
    height: 200px;
    
    object-fit:calc();


}
.menImages{
    display:flex;
    gap:10px;

}
.menImages img{
    width:220px;
    height:220px;

}
.ladiesImages img{
    width:220px;
    height:220px;

}
.ladiesImages{
    display:flex;
    gap:10px;

}
.footer img{
    width: 100%;
    height: 200px;
    
    object-fit:calc();
}
.footerSection{
    margin:10px 0px;

}
